/*Custom*/
/************************************************************************************************************************************/

/*1. global styles*/
/*2. Master elements*/
/*3. Header*/
/*4. Footer*/
/*5. Content*/
/*6. Custom elements*/


/*1. global styles*/
/************************************************************************************************************************************/
body { }

/*helpers*/
/********************/

/*2. Master elements*/
/************************************************************************************************************************************/


/*3. Header*/
/************************************************************************************************************************************/
.header {
   background-color:silver;
}

/*4. Footer*/
/************************************************************************************************************************************/
.footer { } 


/*5. Content*/
/************************************************************************************************************************************/
.content { }

/*6. Custom components*/
/************************************************************************************************************************************/
.contact{
    margin-top:20px !important;
}
.side-bar{
    margin-top:30px !important;
}