/*Custom*/
/************************************************************************************************************************************/

/*1. global styles*/
/*2. Master elements*/
/*3. Header*/
/*4. Footer*/
/*5. Content*/
/*6. Custom elements*/


/*1. global styles*/
/************************************************************************************************************************************/
body { }
medium{background-color:white !important;}
/*helpers*/
/********************/

/*2. Master elements*/
/************************************************************************************************************************************/

h1,h2,h3,h4,h5{font-family: 'Lato', sans-serif;}
h2{margin-bottom:40px;}
.button-to-top{position:fixed; bottom: 40px; right: 20px; padding:15px;display: block; background: grey;}
.button-to-top fa{background-color:black;}

.share-item:focus, 
.share-item:hover, 
.share-item.active{background-color:$active-color;border:2px solid $active-color;}

/*3. Header*/
/************************************************************************************************************************************/
.header { z-index: 1;     position: relative; }
.header-top{margin-top:20px;}

.header-info .fa{color:$active-color;font-size:50px;padding-top:10px;}
.header-info a{color:#b8b8b8;font-size:16px;}
.header-info .text{padding-left:5px;}
.header-info .inner{padding-left:0px !important;padding-right:0px !important;}
.header-info h3{margin:0px; font-size:20px !important;}
.header-search{    margin-top: -13px;}
.header-logo{margin-top:-8px;}

.sticky-wrapper { height: auto !important; width:auto !important;}

.over-nav{background-color:#1E2332; margin-bottom:-53px; z-index:1; position: relative;}
.over-nav-logo{display:none;}

.quote-wrapper { position: absolute; top: 24px; right: -1px; }
.quote{position: relative;line-height: 24px;color: #fff;font-size: 15px;font-weight: 700;padding: 27px 53px ;background-color: #01ccff;text-transform: uppercase;}
.quote:focus, 
.quote:hover,  
.quote .active{background-color:#02B6E3;color:white !important;}

@media (max-width: $desktop) {
    .top-level{border-right:none;}
    .drop-down-menu .menu-item  a {color:white;font-size:18px; line-height: 30px;font-weight: 400;opacity: 1;text-transform: capitalize;padding-right: 0px;padding-left: 0px;}
    .drop-down-menu  li{    margin-right: 20px;}
    
   
    .header-logo{width:100%;text-align:center;}
    .header-info{width:33%;}
    .header-search{width:33%!important;}
    .is-sticky {
        .drop-down-wrapper{padding: 0px!important;}
        .header{max-width:100%;}
}
}

@media (max-width: $laptop) {
     .top-level{border-right:none;}
    .drop-down-menu .menu-item  a {color:white;font-size:18px; line-height: 30px;font-weight: 400;opacity: 1;text-transform: capitalize;padding-right: 0px;padding-left: 0px;}
    .drop-down-menu  li{    margin-right: 20px;}
    .quote{display:none;}
    .logo-wraper{display:inline-block;}
   

}

@media (max-width: $tablet) {
    .over-nav{ margin-bottom: 0px; }
    .header { position: relative !important; }
    .drop-down-menu .menu-item  a{border-top:1px solid #333; text-align:center;}
     
    .qoute{float:left;display:inline;}
    .header-logo{ align-content:center;width:50%;}
    .header-info{display:none;}
}

@media (min-width: $tablet + 1) {
    .is-sticky {
        .header-top { display: none;}
        .drop-down-wrapper{ background-color:#fff;}
        .drop-down-wrapper .menu-item a{color:black;}
        .logo-wrapper img{max-width: 130px !important; margin-top:5px;}
        .header-bottom {   background: #FFF;      }
        .top-level{border-right:none;}
        .header-bc{max-width:initial !important;}
        .quote{padding: 26px 44px;}
         .header{max-width:100%; width:100% !important;}
        .over-nav {margin-bottom: 0; max-width:100%;}
        .over-nav-logo{display:inline; max-width:150px;}
        .over-nav-logo h1{margin:0px;}
        .quote{display:none;}
    }
}

@media (max-width: $mobile) {
    .qoute{float:left;display:inline;}
    .header-logo{width:100%; align-content:center;}
    .header-info{display:none;}
    .header-search{display:none;}
    .logo-wraper{display:inline-block;}
    .header-logo{width:50%;}
    
}


/*4. Footer*/
/************************************************************************************************************************************/
.footer { background-color:#1E2332;} 
.footer h3{color:white;}
.footer-copyright{ color:white;border-top:2px solid #333333;}
.footer li{color:white;line-height: 18px;font-weight: 400;}
.footer span{color:#aaa;}
.footer a,p{color:#8c8c8c;}
.footer a:hover, 
.footer a:focus, 
.footer a.active{color:$active-color;}
 
.email-btn{background-color:$active-color !important;}
.email-btn span{color:white;font-size:32px;}

.copyright-link a{border-right:2px solid #333333;color:#b8b8b8;padding-right:5px;padding-left:5px;}
.copyright-link a:hover,
.copyright-link a:focus, 
.copyright-link a.active{color:white;}
.copyright-link .last{border-right:none;}


.footer .share-item{border-radius:50%;border:2px solid #fff;width:36px;height:36px;margin-right:10px;}
.footer .share-item .inner{padding:7px;margin:0px;}
/*5. Content*/
/************************************************************************************************************************************/
.content { z-index: 0; }

/*6. Custom components*/
/************************************************************************************************************************************/
/*Main Nav*/
.top-level{border-right:1px solid #333333 ;}
.drop-down-wrapper{ background-color:#1E2332;}
 
.drop-down-menu .menu-item  a {color:white;font-size:18px; line-height: 30px;font-weight: 400;opacity: 1;text-transform: capitalize;padding: 20px 20px;padding-right: 20px;}
.drop-down-menu .menu-item a:hover, 
.drop-down-menu .menu-item a:focus, 
.drop-down-menu .menu-item a.active { background-color: transparent; color:$active-color !important; }

.drop-down-sub-menu{border-top: 2px solid $primary-color;margin-top:1px !important;}
.drop-down-sub-menu .menu-item  a{color:black !important;font-size:14px;padding: 13px 20px;line-height: 22px;font-weight: 600;text-align: left;}
.drop-down-sub-menu .menu-item{color:black;background-color:white;margin-top:1px;border-top:1px solid #e6e6e6 !important;}
.drop-down-sub-menu .menu-item a:hover, 
.drop-down-sub-menu .menu-item a:focus, 
.drop-down-sub-menu .menu-item a.active {background-color: $active-color; color:white !important; }

.inputs-wrap{border: 1px solid #CCC; }

.input-wrap-item .fa-search{color:#b8b8b8;}
.input-wrap-item{border:none !important;line-height: 24px;height: 54px !important;font-size: 14px;background:white;}

.search-bar:focus,
.search-bar.active{border: 2px solid $active-color !important ;}

/*Slider*/
.slider-container{ z-index: 0;  }

@media (max-width: $tablet - 1) {
.slide-caption{margin-top:0px!important;}
.slider-navigation{margin-top:25px;}
}
@media (max-width: $mobile) {
.slide-caption h1{font-size:35px;line-height:35px;}
.slide-item p{    font-size: 20px!important;}
.slider-navigation{margin-top:0px;}
}
/*Editable content*/
.editable-content h2{    position: relative;color: #040404;max-width: 880px;margin: 0 auto;font-size: 40px;font-weight: 300;text-align: center;line-height: 1.4em;padding-bottom: 40px}
.text-component h2::after{position: absolute;content: ' ';left: 50%;bottom: 0px;width: 70px;height: 3px;margin-left: -35px;background-color: #01ccff;}
@media (max-width: $mobile){
    .editable-content h2{font-size:24px;}
}
/*Imagen in 3 colum*/
.img-btn{width: 45px;height: 45px; border:none !important;font-size: 24px;line-height: 40px;text-align: center;}
.under-img{margin-top:11px;}
.square-share-item{border:2px solid $active-color;padding:10px!important;min-height:auto!important; text-align:center!important;}

/*Text in 2 column*/
 .text-2col{margin-top:50px;}
 .col-inner{margin-right:20px;}
 .col-inner h2{ font-size:42px;}

 .profile{margin-top:50px;}
 .profile-img{border-radius:50%;height:70px;width:70px;}
 .profile-text{padding-left:120px;}
 .profile-text h3{margin:0px;}

 .about-link{padding-top:20px;}
 .about-link a{color:$active-color;text-decoration: underline;}

 /*Banner counter*/
 .banner-counter{background-image:url("/assets/images/background-banner.png"); height:524px;display:block;}
 .banner-counter .inner-counter{padding:200px 20px;}
 .banner-counter {color:white;}
 
 .text-counter-col h3{font-size:48px;}
 .text-counter-col .sub-text{margin: -17px 0px 20px;}
 @media (max-width: $tablet) {
    .banner-counter .inner-counter{padding:100px 100px;}
    .text-counter-col{width:33%;}
 }
  @media (max-width:500px) {
    .banner-counter .inner-counter{padding:0px 0px;}
    .text-counter-col{width:100%;}
    .banner-counter h2,h3{font-size:30px!important;}
 }
 /*Section servive*/
 .service .ico-arrow{margin-left:5px; color:$active-color;}
 .service a{color:$active-color;}
 .service p{line-height:1.8em;}
 .service-ico span{font-size:50px;color:$active-color;}

 /*Banner Form*/
.banner-form h3{margin-top:50px;font-size:50px;margin-left:20px;}
.banner-form textarea{margin-top:30px;border:2px solid grey;}
 .banner-form-right{background-image:url("/assets/images/background-banner.png"); height:720px;display:block;    background-size: 209% 720px;}
 .banner-form-left{background-image:url("/assets/images/image-left.jpg"); height:720px;display:block;}
 .banner-form input{background-color: rgba(0, 0, 0, 0); border: none; border-bottom:1px solid white;color:white;margin-bottom:20px;}
 .btn-form{background-color:$active-color!important;border:1px solid white!important;}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
/*Image carousel*/
.img-carousel-container{ z-index: 0;  }

/*Banner Purchase*/
.banner-purchase{background-color:$active-color;}
.banner-purchase h3{padding:60px 80px 60px 80px;font-size: 28px;font-weight: 400; color: #fff;}
.purchase-btn{line-height: 24px;color: #fff;font-size: 15px;border:1px solid  #fff;font-weight: 700;padding: 27px 52px;background-color:$active-color;text-transform: uppercase;;min-width:200px;}
.purchase-btn:hover, 
.purchase-btn:focus, 
.purchase-btn.active{background-color:white;color:$active-color;}
.banner-btn{padding: 39px;padding-top: 93px;min-width: 200px;}
 @media (max-width: $tablet) {
     .banner-btn{padding-top: 0px;}
     .banner-purchase h3{padding: 39px;}
     
 }
/* Text Carousel*/
.text-carousel-container{ z-index: 0;  }
.t-profile-img{border-radius:50%;height:70px;width:70px;margin-left: 1px;}
.t-profile-text{padding-left:0px !important;}
.t-profile-text p{    color: #b2b2b2;font-size: 17px!important; font-weight: 300!important;}
 .profile-carousel{margin-left:41%;margin-top:10px;}
  @media (max-width: $tablet) {
     .profile-carousel{margin-left:0%;}
     
 }
 /*Latest News*/
 .impulse-entry-horizontal{margin-bottom:30px;}
 .impulse-entry-horizontal .ico-arrow{margin-left:5px; }
 .new{margin-bottom:20px;}
 

 /*Partners*/

 .partners{margin-top:50px;margin-bottom:50px;}
 .partner img{opacity:0.5;}
 .partner img:hover, 
 .partner img:focus,
 .partner img.active{opacity:1;}

/*Banner Title*/
.banner-tittle{    position: relative;background-image:url("/assets/images/background-2.jpg");background-size: cover;background-repeat: no-repeat;padding: 100px 0px 90px 0px;background-position: right center;}
.banner-tittle h1{   font-size: 55px;font-weight: 700; position: relative;color: #fff;line-height: 1.5em;text-transform: capitalize;}
 @media (max-width: $tablet) {
     .banner-tittle h1{font-size: 36px;}

 }
 
 /*Bottom tittle*/
 .bottom-tittle{border-bottom:1px solid #f6f6f6;}
 /*About us page*/
 .section-image{margin-top:90px;}
 .tab-vertical{margin-top:60px;}
 .advisor{margin-top:60px;}

 /*Form FAQ*/
 .faq h2{margin-bottom:0px;margin-top:50px;}
 .faq-search{margin-bottom:0px;margin-top:50px;}
 .form-FAQ{    background-color: #f9f9f9;}

 /*404 Page*/

 .div-404{margin-top:75px;margin-bottom:75px;}
 .div-404 h1{ font-size: 200px;font-weight: 900;line-height: 1em;letter-spacing: 4px;}
 .search-404{ margin-top: -16px;}
 .btn-404{ position: relative; line-height: 24px;color: #fff;font-size: 15px;font-weight: 700;    padding: 18px 27px; background-color: #01ccff; text-transform: uppercase;border-radius:3px;}
.btn-404:hover, 
.btn-404:focus, 
.btn-404.active{background-color:#fff;color:$active-color;border:2px solid $active-color;}
 @media (max-width: $tablet) {
     .or-404{margin-top:20px;}

 }
 /*Service entry*/
 .service-entry .ico-arrow{margin-left:5px; color:$active-color;}
 .service-entry a{color:$active-color;}
 .service-entry p{line-height:1.8em;}
 .service-entry{ border: 1px solid #f0f2f4;}