/*colors*/
$primary-color: #0cc3ff;
$active-color: #02b6e3;
$font-color: #333333;
$box-color: #EEEEEE; 

/*margins and paddings*/
$global-padding: 10px;
$global-margin: 10px;

/*border*/
$global-border: 1px solid #CCC;

/*media queries breakpoints*/
$desktop: 1140px;
$laptop: 1024px;
$tablet: 870px;
$mobile: 768px;

/*aspect ratios*/
$image-aspect: 75%;
$banner-aspect: 36.4%;


/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

$global-font-family: 'Lato', sans-serif;
.global-font { font-family: $global-font-family; font-size: 14px; line-height: 18px; font-weight: 400; color: #333;  }
.headers {   margin: 0 0 $global-margin*2 0; font-weight:700; font-family: $global-font-family; }