<!--accordions wrapper -->
<div class="accordions-wrapper js-accordions-wrapper mb20">
    <!--accordions item -->
    <div class="accordion js-accordion">
        <!--accordions header -->
        <div class="accordion-heading js-accordion-heading">
            <span class="accordion-indicator fa"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </div>
        <!-- / accordions header -->
        <!--accordions content -->
        <div class="accordion-content js-accordion-content">
            <div class="accordion-content-inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget commodo nulla. Sed nec magna pellentesque, aliquam orci eu, cursus augue. Morbi eget hendrerit nunc. Aliquam interdum non sem a scelerisque. In convallis est augue, eget dictum tortor posuere et.</p>
            </div>
        </div>
        <!-- / accordions content -->
    </div>
    <!-- / accordions item -->
    <!--accordions item -->
    <div class="accordion js-accordion">
        <!--accordions header -->
        <div class="accordion-heading js-accordion-heading">
            <span class="accordion-indicator fa"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <!-- / accordions header -->
        <!--accordions content -->
        <div class="accordion-content js-accordion-content">
            <div class="accordion-content-inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget commodo nulla. Sed nec magna pellentesque, aliquam orci eu, cursus augue. Morbi eget hendrerit nunc. Aliquam interdum non sem a scelerisque. In convallis est augue, eget dictum tortor posuere et.</p>
            </div>
        </div>
        <!-- / accordions content -->
    </div>
    <!-- / accordions item -->
    <!--accordions item -->
    <div class="accordion js-accordion">
        <!--accordions header -->
        <div class="accordion-heading js-accordion-heading">
            <span class="accordion-indicator fa"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <!-- / accordions header -->
        <!--accordions content -->
        <div class="accordion-content js-accordion-content">
            <div class="accordion-content-inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget commodo nulla. Sed nec magna pellentesque, aliquam orci eu, cursus augue. Morbi eget hendrerit nunc. Aliquam interdum non sem a scelerisque. In convallis est augue, eget dictum tortor posuere et.</p>
            </div>
        </div>
        <!-- / accordions content -->
    </div>
    <!-- / accordions item -->
</div>
<!-- / accordions wrapper -->
