<!--accordions wrapper -->
<div class="accordions-wrapper js-accordions-wrapper mb20">
    <!--accordions item -->
    <div class="accordion js-accordion">
        <!--accordions header -->
        <div class="accordion-heading js-accordion-heading active">
            <span class="accordion-indicator fa fa-minus"></span>Lorem ipsum dolor sit amet 
        </div>
        <!-- / accordions header -->
        <!--accordions content -->
        <div class="accordion-content js-accordion-content "style="display: block;">
            <div class="accordion-content-inner">
                <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifnd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet ut soletu possit quo. Sea cu justo laudem.</p>
            </div>
        </div>
        <!-- / accordions content -->
    </div>
    <!-- / accordions item -->
    <!--accordions item -->
    <div class="accordion js-accordion">
        <!--accordions header -->
        <div class="accordion-heading js-accordion-heading">
            <span class="accordion-indicator fa fa-minus"></span>Lorem ipsum dolor sit amet
        </div>
        <!-- / accordions header -->
        <!--accordions content -->
        <div class="accordion-content js-accordion-content">
            <div class="accordion-content-inner">
                <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifnd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet ut soletu possit quo. Sea cu justo laudem.</p>
            </div>
        </div>
        <!-- / accordions content -->
    </div>
    <!-- / accordions item -->
    <!--accordions item -->
    <div class="accordion js-accordion">
        <!--accordions header -->
        <div class="accordion-heading js-accordion-heading">
            <span class="accordion-indicator fa fa-minus"></span>Lorem ipsum dolor sit amet
        </div>
        <!-- / accordions header -->
        <!--accordions content -->
        <div class="accordion-content js-accordion-content">
            <div class="accordion-content-inner">
                <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifnd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet ut soletu possit quo. Sea cu justo laudem.</p>
            </div>
        </div>
        <!-- / accordions content -->
    </div>
    <!-- / accordions item -->
</div>
<!-- / accordions wrapper -->
