<!--- Banner Form -->
<div id="bannerform" class=" banner-form">
    <div class="banner-form-left js-slide-item box-6">

    </div>
    <div class="banner-form-right box-6">
        <div class="inner">
            <form>
                <h3>Contact us</h3>
                <div class="box-6">
                    <div class="inner">
                        <input id="form-name" type="text" placeholder="Your Name" required />
                        <label class="hidden" for="form-name">Name</label>
                    </div>
                </div>

                <div class="box-6">
                    <div class="inner">
                        <input id="form-email" type="email" placeholder="Your Email" required />
                        <label class="hidden" for="form-email">Email</label>
                    </div>
                </div>
                <div class="box-12">
                    <div class="inner">
                        <p>
                            <input id="form-subject" type="text" placeholder="Subject" required />
                            <label class="hidden" for="form-subject">Subject</label>
                        </p>
                        <p>
                            <textarea id="your-message" required>Your Message</textarea>
                            <label for="your-message" class="hidden">Your Message</label>
                        </p>
                        <p>
                            <input id="form-submit" class="btn-form" type="submit" value="Send Request" />
                            <label class="hidden" for="form-submit">Submit</label>
                        </p>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>