<!--- Banner Form -->
<div id="bannerform" class=" banner-form">
    <div class="banner-form-left js-slide-item box-6">

    </div>
    <div class="banner-form-right box-6">
        <div class="inner">
            <form>
                <h3>Contact us</h3>
                <div class="box-6">
                    <div class="inner">
                        <input type="text" placeholder="Your Name" required />
                    </div>
                </div>

                <div class="box-6">
                    <div class="inner">
                        <input type="email" placeholder="Your Email" required />
                    </div>
                </div>
                <div class="box-12">
                    <div class="inner">
                        <p>
                            <input type="text" placeholder="Subject" required />
                        </p>
                        <p>
                            <textarea placeholder="Your Message" required></textarea>
                        </p>
                        <p>
                            <input class="btn-form" type="submit" value="Send Request" />
                        </p>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>