<div class=" banner-counter trigger-counter">
    <div class="inner-counter box-container">
        <div class="title-counter box-5">
            <h2>We Have Great Achivment To Show!!</h2>
        </div>
        <div class="text-counter box-7">
            <div class="text-counter-col box-4">
                <h3 class="js-count" data-stop="1820"></h3>
                <h4 class="sub-text">Completed Projects</h4>
            </div>
            <div class="text-counter-col box-4">
                <h3 class="js-count" data-stop="300"></h3>
                <h4 class="sub-text">World Wide Clients</h4>
            </div>
            <div class="text-counter-col box-4">
                <h3 class="js-count" data-stop="100"></h3>
                <h4 class="sub-text">Arquitecture & Worker</h4>
            </div>
            <div class="text-counter-base box-12">
                <h4>Need Any Floor & Paving Solution? <a href="/">Call Us Now</a> or <a href="/">Send Message</a></h4>
            </div>
        </div>
    </div>

</div>