<div class="box-12 partners tc">
   <div class="partner box-3 box-tablet-6 box-mobile-12">
            <div class="inner">
                <img alt="partner" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=208%C3%97110&w=208&h=110" />
            </div>

        </div>
        <div class="partner box-3 box-tablet-6 box-mobile-12">
            <div class="inner">
                <img alt="partner" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=208%C3%97110&w=208&h=110" />
            </div>

        </div>
        <div class="partner box-3 box-tablet-6 box-mobile-12">
            <div class="inner">
                <img alt="partner" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=208%C3%97110&w=208&h=110" />
            </div>

        </div>
        <div class="partner box-3 box-tablet-6 box-mobile-12">
            <div class="inner">
                <img alt="partner" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=208%C3%97110&w=208&h=110" />
            </div>

        </div>
        <div class="clearfix"></div>
   

</div>
