<div class="text-2col box-12">
    <div class="text-col box-6">
        <div class=" col-inner">
            <!--#include virtual="/statics/content/impulses/impulseAboutUs.html"-->
        </div>
    </div>
    <div class="text-col box-6">
        <div class=" col-inner">
            <h2>Frequently Asked Question</h2>
            <!--#include virtual="/statics/content/components/accordions.html"-->

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>