<div class="box-12 ">
    <div class="inner">
        <h2 class="tc mt20">Did’nt Find Answer, Submit Your Question.</h2>
        <form>
            <div class="box-4">
                <div class="inner">
                    <input id="form-name" type="text" placeholder="Your Name" required />
                    <label class="hidden" for="form-name">Name*</label>
                </div>
            </div>
            <div class="box-4">
                <div class="inner">
                    <input id="form-email" type="email" placeholder="Your Email" required />
                    <label class="hidden" for="form-email">Email</label>
                </div>
            </div>

            <div class="box-4">
                <div class="inner">
                    <input id="form-email" type="email" placeholder="Subject" required />
                    <label class="hidden" for="form-email">Subject</label>
                </div>
            </div>
            <div class="box-12">
                <div class="inner">
                     <textarea id="your-message" required>Your Message</textarea>
                            <label for="your-message" class="hidden">Your Message</label>
                </div>

            </div>



           
        </form>
    </div>
</div>
