<div class="box-container  mb20">
    <div class="box-3 box-tablet-4 box-mobile-6">
        <!--#include virtual="/statics/content/impulses/overlayImpulse.html"-->
    </div>
    <div class="box-3 box-tablet-4 box-mobile-6">
        <!--#include virtual="/statics/content/impulses/overlayImpulse.html"-->
    </div>
    <div class="box-3 box-tablet-4 box-mobile-6">
        <!--#include virtual="/statics/content/impulses/overlayImpulse.html"-->
    </div>
    <div class="box-3 box-tablet-4 box-mobile-6">
        <!--#include virtual="/statics/content/impulses/overlayImpulse.html"-->
    </div>
    <div class="box-3 box-tablet-4 box-mobile-6">
        <!--#include virtual="/statics/content/impulses/overlayImpulse.html"-->
    </div>
    <div class="box-3 box-tablet-4 box-mobile-6">
        <!--#include virtual="/statics/content/impulses/overlayImpulse.html"-->
    </div>
    <div class="box-3 box-tablet-4 box-mobile-6">
        <!--#include virtual="/statics/content/impulses/overlayImpulse.html"-->
    </div>
    <div class="box-3 box-tablet-4 box-mobile-6">
        <!--#include virtual="/statics/content/impulses/overlayImpulse.html"-->
    </div>
    <div class="box-3 box-tablet-4 box-mobile-6">
        <!--#include virtual="/statics/content/impulses/overlayImpulse.html"-->
    </div>
    <div class="box-3 box-tablet-4 box-mobile-6">
        <!--#include virtual="/statics/content/impulses/overlayImpulse.html"-->
    </div>
    <div class="box-3 box-tablet-4 box-mobile-6">
        <!--#include virtual="/statics/content/impulses/overlayImpulse.html"-->
    </div>
    <div class="box-3 box-tablet-4 box-mobile-6">
        <!--#include virtual="/statics/content/impulses/overlayImpulse.html"-->
    </div>

    
</div>