<div class="box-container  mb20">
    <div class="box-12">
        <div class="inner bg-box">12</div>
    </div>
    <div class="box-11">
        <div class="inner bg-box">11</div>
    </div>
    <div class="box-1">
        <div class="inner bg-box">1</div>
    </div>
    <div class="box-10">
        <div class="inner bg-box">10</div>
    </div>
    <div class="box-2">
        <div class="inner bg-box">2</div>
    </div>
    <div class="box-9">
        <div class="inner bg-box">9</div>
    </div>
    <div class="box-3">
        <div class="inner bg-box">3</div>
    </div>
    <div class="box-8">
        <div class="inner bg-box">8</div>
    </div>
    <div class="box-4">
        <div class="inner bg-box">4</div>
    </div>
    <div class="box-7">
        <div class="inner bg-box">7</div>
    </div>
    <div class="box-5">
        <div class="inner bg-box">5</div>
    </div>
    <div class="box-6">
        <div class="inner bg-box">6</div>
    </div>
    <div class="box-6">
        <div class="inner bg-box">6</div>
    </div>
    <div class="clearfix mb20"></div>

    <p><strong>Nest the boxes</strong></p>
    <div class="box-6 ">
        <div class="inner ">
            6
            <div class="clearfix"></div>
            <div class="box-6">
                <div class="inner bg-box">6</div>
            </div>
            <div class="box-6">
                <div class="inner bg-box">6</div>
            </div>
           
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="box-6  ">
        <div class="inner">
            6
            <div class="clearfix"></div>
            <div class="box-3">
                <div class="inner bg-box c3">3</div>
            </div>
            <div class="box-3">
                <div class="inner bg-box c3">3</div>
            </div>
            <div class="box-3">
                <div class="inner bg-box c3">3</div>
            </div>
            <div class="box-3">
                <div class="inner bg-box c3">3</div>
            </div>
            <div class="clearfix"></div>
        </div>
        
    </div>
    <div class="clearfix mb20"></div>

    <p><strong>Customizable grid</strong></p>
    <p>Allows you to change the margins, paddings, add more breakpoints... etc. Just using SASS and changing the value in the variables.scss file</p>


</div>