<div class="box-container">
    <div class="box-12">

        <!--slider container -->
        <div class="img-carousel-container js-text-carousel-container relative">
            <div class='img-carousel js-text-slides tc'>

                <div class="img-slides-wrapper">
                    <div class="slide-item slide-item-1 box-12 tc">
                        <div class="inner">
                            <div class="box-3 box-tablet-6 box-mobile-12">
                                <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
                            </div>
                            <div class="box-3 box-tablet-6 box-mobile-12">
                                <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
                            </div>
                            <div class="box-3 box-tablet-6 box-mobile-12">
                                <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
                            </div>
                            <div class="box-3 box-tablet-6 box-mobile-12">
                                <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                    <div class="slide-item slide-item-2 box-12 tc">
                        <div class="inner">
                            <div class="box-3 box-tablet-6 box-mobile-12">
                                <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
                            </div>
                            <div class="box-3 box-tablet-6 box-mobile-12">
                                <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
                            </div>
                            <div class="box-3 box-tablet-6 box-mobile-12">
                                <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
                            </div>
                            <div class="box-3 box-tablet-6 box-mobile-12">
                                <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- slider navigation -->
            <a class='slider-navigation prev-slide-button js-slide-button-next' title="view previous"><span class="fa fa-angle-left"></span><span class="hidden">Prev slide</span> </a><a class='slider-navigation next-slide-button js-slide-button-prev' title="view previous"><span class="fa fa-angle-right"></span><span class="hidden">Prev slide</span> </a>
            <div class='selectors-block'>
                <div class='selectors tc'>
                    <a class='selector-item js-slider-selector active' title="Go to slide 1"><span class="fa fa-circle"></span><span class="hidden">Go to slide 1</span> </a>
                    <a class='selector-item js-slider-selector' title="Go to slide 2"><span class="fa fa-circle"></span><span class="hidden">Go to slide 2</span> </a>
                </div>
            </div>
            <!-- / slider navigation -->
        </div>
        <!--/ slider container -->

    </div>

    <div class="clearfix"></div>
</div>
