<!--Media Filters-->
<div class="media-filters">
    <div class="box-4">
        <div class="inner">
            <select >
                <option value="1">Web Developer</option>
                <option value="2">Web Designer</option>
                <option value="3">Back-End</option>
                <option value="4">Front-End</option>
            </select>
        </div>
    </div>
    <div class="box-4">
        <div class="inner">
            <select>
                <option value="1">Windows Vista</option>
                <option value="2">Windows 7</option>
                <option value="3">Windows XP</option>
                <option value="10">Fedora</option>
                <option value="11">Debian</option>
                <option value="12">Suse</option>
            </select>
        </div>
    </div>
    <div class="box-4">
        <div class="inner">
            <div class="inputs-wrap">
                    <a class="input-wrap-item btn"><span class="fa fa-search"></span><span class="hidden">Search</span></a>
                    <input class="input-wrap-item" type="text" placeholder="Username" />
                </div>
         </div>
    </div>
    <div class="clearfix"></div>
</div>

<!--Media Filters/-->