<!--slider container -->
<div class='slider-container mb20 bg-shade-3 '>
    <div class="slider-absolute">
        <!--slider -->
        <div class='slider js-slider'>
            <!--slides wrapper -->
            <div class='slides-wrapper'>
                <!--slide -->
                <div class='item item1'>
                    <img class="slide-background-image" alt="Lorem ipsum" src="http://placehold.it/1110x275/eee/eee" />
                    <div class="slide-caption tc js-vertical-center">
                        <div class="box-container">
                            <div class="gtbpx-12">
                                <div class="inner">
                                    <h1>Corporation</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p><span class="fa fa-angle-right c1"></span>&nbsp;<a href="javascript:void(0);">Read more </a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /slide -->
                <!--slide -->
                <div class='item item1'>
                    <img class="slide-background-image" alt="Lorem ipsum" src="http://placehold.it/1110x275/eee/eee" />
                    <div class="slide-caption tc js-vertical-center">
                        <div class="box-container">
                            <div class="gtbpx-12">
                                <div class="inner">
                                    <h1>What´s new</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p><span class="fa fa-angle-right c1"></span>&nbsp;<a href="javascript:void(0);">Read more </a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /slide -->

            </div>
            <!-- / slides wrapper -->
        </div>
        <!-- / slider -->
    </div>
    <!-- slider navigation -->
    <a class='slider-navigation prev-slide-button js-slide-button-next' title="view previous"><span class="fa fa-angle-left"></span><span class="hidden">Prev slide</span> </a><a class='slider-navigation next-slide-button js-slide-button-prev' title="view previous"><span class="fa fa-angle-right"></span><span class="hidden">Prev slide</span> </a>
    <div class='selectors-block'>
        <div class='selectors'>
            <a class='selector-item js-slider-selector active' title="Go to slide 1"><i class="fa fa-circle"></i><span class="hidden">Go to slide 1</span> </a>
            <a class='selector-item js-slider-selector' title="Go to slide 2"><i class="fa fa-circle"></i><span class="hidden">Go to slide 2</span> </a>
        </div>
    </div>
    <!-- / slider navigation -->
</div>
<!--/ slider container -->





