

<div class="box-container">
    <div class="box-12">

        <!--slider container -->
        <div class="small-carousel-container js-text-carousel-container relative">
            <div class='small-carousel js-text-slides tc'>

                <div class="text-slides-wrapper">
                    <div class="slide-item slide-item-1 ">
                        <div class="inner mb0 mp0">
                            <div class="profile-small box-12 mt10">
                                <img class="profile-img fl" alt="photo person" src="/assets/images/spider-profile.jpg">
                                <div class="profile-text">
                                    <h4>Jonh Doe</h4>
                                    <p>Web Developer</p>
                                    
                                </div>
                                <p class="fr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="slide-item slide-item-2 ">
                        <div class="inner mb0 mp0">
                            <div class="profile-small box-12 mt10">
                                <img class="profile-img fl" alt="photo person" src="/assets/images/spider-profile.jpg">
                                <div class="profile-text">
                                    <h4>Jonh Doe</h4>
                                    <p>Web Developer</p>

                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="slide-item slide-item-3 ">
                        <div class="inner mb0 mp0">
                            <div class="profile-small box-12 mt10">
                                <img class="profile-img fl" alt="photo person" src="/assets/images/spider-profile.jpg">
                                <div class="profile-text">
                                    <h4>Jonh Doe</h4>
                                    <p>Web Developer</p>

                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- slider navigation -->
            <div class='selectors-block'>
                <div class='selectors fr'>
                    <a class='selector-item js-slider-selector active' title="Go to slide 1"><span class="fa fa-circle"></span><span class="hidden">Go to slide 1</span> </a>
                    <a class='selector-item js-slider-selector' title="Go to slide 2"><span class="fa fa-circle"></span><span class="hidden">Go to slide 2</span> </a>
                    <a class='selector-item js-slider-selector' title="Go to slide 3"><span class="fa fa-circle"></span><span class="hidden">Go to slide 3</span> </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- / slider navigation -->
        </div>
        <!--/ slider container -->

    </div>

    
</div>