<!--slider container -->
<div class='slider-container   '>
    <div class="slider-absolute">
        <!--slider -->
        <div class='slider js-slider'>
            <!--slides wrapper -->
            <div class='slides-wrapper'>
                <!--slide -->
                <div class='item item1'>
                    <div class="profile-small mbt0">
                        <img class="profile-img fl" alt="photo person" src="/assets/images/spider-profile.jpg">
                        <div class="profile-text">
                            <h4>Alejandro Alamillo</h4>
                            <p>Web Developer</p>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri</p>
                </div>
                <!-- /slide -->
                <!--slide -->
                <div class='item item2'>
                    <div class="profile-small mt10">
                        <img class="profile-img fl" alt="photo person" src="/assets/images/spider-profile.jpg">
                        <div class="profile-text">
                            <h4>Alejandro Alamillo</h4>
                            <p>Web Developer</p>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri</p>
                </div>
                <!-- /slide -->

            </div>
            <!-- / slides wrapper -->
        </div>
        <!-- / slider -->
    </div>
    <!-- slider navigation -->
    <div class='selectors-block'>
        <div class='selectors'>
            <a class='selector-item js-slider-selector active' title="Go to slide 1"><span class="fa fa-circle"></span><span class="hidden">Go to slide 1</span> </a>
            <a class='selector-item js-slider-selector' title="Go to slide 2"><span class="fa fa-circle"></span><span class="hidden">Go to slide 2</span> </a>
        </div>
    </div>
    <!-- / slider navigation -->
</div>
<!--/ slider container -->
