<!--slider container -->
<div class='slider-container mb20 bg-shade-3 '>
    <div class="slider-absolute">
        <!--slider -->
        <div class='slider js-slider'>
            <!--slides wrapper -->
            <div class='slides-wrapper'>
                <!--slide -->
                <div class='item item1'>
                    <img class="slide-background-image" alt="Lorem ipsum" src="/assets/images/slider-img-1.png" />
                    <div class="slide-caption tc js-vertical-center">
                        <div class="box-container">
                            <div class="gtbpx-12">
                                 <div class="box-7 box-tablet-12 box-mobile-12" >
                                        <div class="box12">
                                            <div class="inner">
                                                <h1>Get Quality <br />Consulting Service!</h1>

                                            </div>
                                        </div>
                                        <div class="box12">
                                            <div class="inner">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                                            </div>
                                        </div>
                                        <div class="box12">
                                            <div class="inner">
                                                <a href="#" class=" btn-style-1 fl">Learn More</a>
                                                <a href="/templates/t06-service.aspx" class="btn-style-2 fl">See Services</a>

                                            </div>
                                        </div>
                                     </div>
                               

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /slide -->
                <!--slide -->
                <div class='item item2'>
                    <img class="slide-background-image" alt="Lorem ipsum" src="/assets/images/slider-img-2.png" />
                    <div class="slide-caption tc js-vertical-center">
                        <div class="box-container">
                            <div class="gtbpx-12">
                                <div class="box-7 box-tablet-12 box-mobile-12">
                                    <div class="box12">
                                        <div class="inner">
                                            <h1>Get Quality <br />Consulting Service!</h1>

                                        </div>
                                    </div>
                                    <div class="box12">
                                        <div class="inner">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                                        </div>
                                    </div>
                                    <div class="box12">
                                        <div class="inner">
                                            <a href="#" class=" btn-style-1 fl">Learn More</a>
                                            <a href="/templates/t06-service.aspx" class="btn-style-2 fl">See Services</a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /slide -->

            </div>
            <!-- / slides wrapper -->
        </div>
        <!-- / slider -->
    </div>
    <!-- slider navigation -->
    <a class='slider-navigation prev-slide-button js-slide-button-next' title="view previous"><span class="fa fa-long-arrow-left"></span><span class="hidden">Prev slide</span> </a><a class='slider-navigation next-slide-button js-slide-button-prev' title="view previous"><span class="fa fa-long-arrow-right"></span><span class="hidden">Prev slide</span> </a>
   
    <!-- / slider navigation -->
</div>
<!--/ slider container -->





