<div id="  tabs-container" class="js-tabs-container tab-vertical">
    <!--TABS MENU START-->
    <ul class="tabs-menu-vertical box-3 box-tablet-2 box-mobile-2">
        <li class="box-12 box-tablet-12 box-mobile-12"><a class="js-tab-trigger active" href="#tab-1">TAB 1</a><div class="pick"></div></li>
        <li class="box-12 box-tablet-12 box-mobile-12"><a class="js-tab-trigger" href="#tab-2">TAB 2</a><div class="pick"></div></li>
        <li class="box-12 box-tablet-12 box-mobile-12"><a class="js-tab-trigger" href="#tab-3">TAB 3</a><div class="pick"></div></li>
        <li class="box-12 box-tablet-12 box-mobile-12"><a class="js-tab-trigger" href="#tab-4">TAB 4</a><div class="pick"></div></li>
        <li class="box-12 box-tablet-12 box-mobile-12"><a class="js-tab-trigger" href="#tab-3">TAB 5</a><div class="pick"></div></li>
        <li class="box-12 box-tablet-12 box-mobile-12"><a class="js-tab-trigger" href="#tab-4">TAB 6</a><div class="pick"></div></li>
    </ul>
    <!--TABS MENU END-->
    <div class="tab box-9 box-tablet-10 box-mobile-10" >
        <div id="tab-1" class="tab-content-vertical js-tab-content active">
            <div class="inner">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in. Maecenas porttitor, est et malesuada congue, ligula elit fermentum massa, sit amet porta odio est at velit. Sed nec turpis neque. Fusce at mi felis, sed interdum tortor. Nullam pretium, est at congue mattis, nibh eros pharetra lectus, nec posuere libero dui consectetur arcu. Quisque convallis facilisis fermentum. Nam tincidunt, diam nec dictum mattis, nunc dolor ultrices ipsum, in mattis justo turpis nec ligula. Curabitur a ante mauris. Integer placerat imperdiet diam, facilisis pretium elit mollis pretium. Sed lobortis, eros non egestas suscipit, dui dui euismod enim, ac ultricies arcu risus at tellus. Donec imperdiet congue ligula, quis vulputate mauris ultrices non. Aliquam rhoncus, arcu a bibendum congue, augue risus tincidunt massa, vel vehicula diam dolor eget felis.</p>
                <ul class="no-list">
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
            </div>
        </div>
        <div id="tab-2" class="tab-content-vertical  js-tab-content">
            <div class="inner">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in. Maecenas porttitor, est et malesuada congue, ligula elit fermentum massa, sit amet porta odio est at velit. Sed nec turpis neque. Fusce at mi felis, sed interdum tortor. Nullam pretium, est at congue mattis, nibh eros pharetra lectus, nec posuere libero dui consectetur arcu. Quisque convallis facilisis fermentum. Nam tincidunt, diam nec dictum mattis, nunc dolor ultrices ipsum, in mattis justo turpis nec ligula. Curabitur a ante mauris. Integer placerat imperdiet diam, facilisis pretium elit mollis pretium. Sed lobortis, eros non egestas suscipit, dui dui euismod enim, ac ultricies arcu risus at tellus. Donec imperdiet congue ligula, quis vulputate mauris ultrices non. Aliquam rhoncus, arcu a bibendum congue, augue risus tincidunt massa, vel vehicula diam dolor eget felis.</p>
                <ul  class="no-list">
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
            </div>
        </div>
        <div id="tab-3" class="tab-content-vertical  js-tab-content">
            <div class="inner">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in. Maecenas porttitor, est et malesuada congue, ligula elit fermentum massa, sit amet porta odio est at velit. Sed nec turpis neque. Fusce at mi felis, sed interdum tortor. Nullam pretium, est at congue mattis, nibh eros pharetra lectus, nec posuere libero dui consectetur arcu. Quisque convallis facilisis fermentum. Nam tincidunt, diam nec dictum mattis, nunc dolor ultrices ipsum, in mattis justo turpis nec ligula. Curabitur a ante mauris. Integer placerat imperdiet diam, facilisis pretium elit mollis pretium. Sed lobortis, eros non egestas suscipit, dui dui euismod enim, ac ultricies arcu risus at tellus. Donec imperdiet congue ligula, quis vulputate mauris ultrices non. Aliquam rhoncus, arcu a bibendum congue, augue risus tincidunt massa, vel vehicula diam dolor eget felis.</p>
                <ul  class="no-list">
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
            </div>
        </div>
        <div id="tab-4" class="tab-content-vertical  js-tab-content">
            <div class="inner">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in. Maecenas porttitor, est et malesuada congue, ligula elit fermentum massa, sit amet porta odio est at velit. Sed nec turpis neque. Fusce at mi felis, sed interdum tortor. Nullam pretium, est at congue mattis, nibh eros pharetra lectus, nec posuere libero dui consectetur arcu. Quisque convallis facilisis fermentum. Nam tincidunt, diam nec dictum mattis, nunc dolor ultrices ipsum, in mattis justo turpis nec ligula. Curabitur a ante mauris. Integer placerat imperdiet diam, facilisis pretium elit mollis pretium. Sed lobortis, eros non egestas suscipit, dui dui euismod enim, ac ultricies arcu risus at tellus. Donec imperdiet congue ligula, quis vulputate mauris ultrices non. Aliquam rhoncus, arcu a bibendum congue, augue risus tincidunt massa, vel vehicula diam dolor eget felis.</p>
                <ul  class="no-list">
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
            </div>
        </div>
        <div id="tab-5" class="tab-content-vertical  js-tab-content">
            <div class="inner">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in. Maecenas porttitor, est et malesuada congue, ligula elit fermentum massa, sit amet porta odio est at velit. Sed nec turpis neque. Fusce at mi felis, sed interdum tortor. Nullam pretium, est at congue mattis, nibh eros pharetra lectus, nec posuere libero dui consectetur arcu. Quisque convallis facilisis fermentum. Nam tincidunt, diam nec dictum mattis, nunc dolor ultrices ipsum, in mattis justo turpis nec ligula. Curabitur a ante mauris. Integer placerat imperdiet diam, facilisis pretium elit mollis pretium. Sed lobortis, eros non egestas suscipit, dui dui euismod enim, ac ultricies arcu risus at tellus. Donec imperdiet congue ligula, quis vulputate mauris ultrices non. Aliquam rhoncus, arcu a bibendum congue, augue risus tincidunt massa, vel vehicula diam dolor eget felis.</p>
                <ul  class="no-list">
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
            </div>
        </div>
        <div id="tab-6" class="tab-content-vertical js-tab-content">
            <div class="inner">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in. Maecenas porttitor, est et malesuada congue, ligula elit fermentum massa, sit amet porta odio est at velit. Sed nec turpis neque. Fusce at mi felis, sed interdum tortor. Nullam pretium, est at congue mattis, nibh eros pharetra lectus, nec posuere libero dui consectetur arcu. Quisque convallis facilisis fermentum. Nam tincidunt, diam nec dictum mattis, nunc dolor ultrices ipsum, in mattis justo turpis nec ligula. Curabitur a ante mauris. Integer placerat imperdiet diam, facilisis pretium elit mollis pretium. Sed lobortis, eros non egestas suscipit, dui dui euismod enim, ac ultricies arcu risus at tellus. Donec imperdiet congue ligula, quis vulputate mauris ultrices non. Aliquam rhoncus, arcu a bibendum congue, augue risus tincidunt massa, vel vehicula diam dolor eget felis.</p>
                <ul  class="no-list">
                    <li><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                    <li><p><span class="fa fa-check-square-o"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
