

<div class="box-container">
    <div class="box-12">

        <!--slider container -->
        <div class="text-carousel-container js-text-carousel-container relative">
            <div class='text-carousel js-text-slides tc'>

                <div class="text-slides-wrapper">
                    <div class="slide-item slide-item-1 tc">
                        <div class="inner">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br /> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="box-2 profile-carousel">
                                <div class="box-12">
                                    <img class="t-profile-img " alt="photo person" src="\assets\images\spider-profile.jpg" />

                                </div>
                                <div class="box-12 tc">
                                    <div class="t-profile-text ">
                                        <h4>Alejandro Alamillo</h4>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="slide-item slide-item-2 tc">
                        <div class="inner">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br /> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="box-2 profile-carousel">
                                <div class="box-12">
                                    <img class="t-profile-img " alt="photo person" src="\assets\images\spider-profile.jpg" />

                                </div>
                                <div class="box-12 tc">
                                    <div class="t-profile-text ">
                                        <h4>Alejandro Alamillo</h4>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        
                        </div>
                    </div>
                </div>

            </div>
            <!-- slider navigation -->
            <a class='slider-navigation prev-slide-button js-slide-button-next' title="view previous"><span class="fa fa-angle-left"></span><span class="hidden">Prev slide</span> </a><a class='slider-navigation next-slide-button js-slide-button-prev' title="view previous"><span class="fa fa-angle-right"></span><span class="hidden">Prev slide</span> </a>
            <div class='selectors-block'>
                <div class='selectors tc'>
                    <a class='selector-item js-slider-selector active' title="Go to slide 1"><span class="fa fa-circle"></span><span class="hidden">Go to slide 1</span> </a>
                    <a class='selector-item js-slider-selector' title="Go to slide 2"><span class="fa fa-circle"></span><span class="hidden">Go to slide 2</span> </a>
                </div>
            </div>
            <!-- / slider navigation -->
        </div>
        <!--/ slider container -->

    </div>

    <div class="clearfix"></div>
</div>
