<div class="image-3col ">
   <div class="box-4 box-tablet-6 box-mobile-12">
            <!--#include virtual="/statics/content/entries/entry.html"-->
          
        </div>
        <div class="box-4 box-tablet-6 box-mobile-12">
             <!--#include virtual="/statics/content/entries/entry.html"-->
           
        </div>
        <div class="box-4 box-tablet-6 box-mobile-12">
             <!--#include virtual="/statics/content/entries/entry.html"-->
            
        </div>
        <div class="clearfix"></div>
  
    
</div>
