<div class="box-12">
    <div class="inner">
        <div class="box-3 box-tablet-6 box-mobile-12">
            <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
        </div>
        <div class="box-3 box-tablet-6 box-mobile-12">
            <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
        </div>
        <div class="box-3 box-tablet-6 box-mobile-12">
            <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
        </div>
        <div class="box-3 box-tablet-6 box-mobile-12">
            <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
        </div>
        <div class="box-3 box-tablet-6 box-mobile-12">
            <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
        </div>
        <div class="box-3 box-tablet-6 box-mobile-12">
            <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
        </div>
        <div class="box-3 box-tablet-6 box-mobile-12">
            <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
        </div>
        <div class="box-3 box-tablet-6 box-mobile-12">
            <!--#include virtual="/statics/content/impulses/overlayImpulseSocial.html"-->
        </div>
        <div class="clearfix"></div>

    </div>
</div>
