/********** START FONT **********/
body { @extend .global-font; }
h1, .h1 { font-size: 64px; line-height: 64px; @extend .headers }
h2, .h2 { font-size: 44px; line-height: 1.2em; @extend .headers  }    
h3, .h3 { font-size: 22px; line-height: 1.6em; @extend .headers  }
h4, .h4 { font-size: 18px; line-height: 1.6em; @extend .headers  }
h5, .h5 { font-size: 16px; line-height: 1.6em; @extend .headers  }
h6, .h6 { font-size: 14px; line-height: 1.6em; @extend .headers  }
p, .p {  @extend .global-font;  margin: 0 0 $global-margin*2 0; }
small { font-size: 0.7em; line-height: 1em; }
.title { border-bottom: $global-border; padding-bottom: $global-padding; }
a { color: black; text-decoration: none; }
a:hover, a:focus, a.active { color: $active-color;   @extend .smooth-transition  }

/********** END FONT **********/